<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eMovilBusiness</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/mian.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-brand navbar-default navbar-fixed-top"  >
            <img src="~/Img/mdsoft.png"  class="img-2 center" />
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - <a href="http://www.mdsoft.com.do/">Desarrollado por MDSoft | Ver. 9.0.2.63</a></p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
