@model businessSoftwareMDSoft.Models.Estados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Estados</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tabla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tabla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imprimir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imprimir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnviarHistoricos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnviarHistoricos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tracking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tracking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visualizar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visualizar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
